*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root{
  --border:1px solid black;
}
.login{
  width: 70%;
  margin: 10px auto;
}
.login__titulo{
  width: 50%;
  margin:10px auto;
  padding: 5px;
  font-weight: bold;
  border-radius: 10px;
  background-color: rgba(0, 128, 0, 0.525);
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 1px 1px 1px;
}

.login__iniciar{
  display: block;
  width: 120px;
  background-image:linear-gradient(rgba(21, 25, 146, 0.843),rgba(248, 248, 252, 0.87));
  color: white;
  box-shadow: 1px 1px 3px  0px black;
  padding: 8px 25px;
  margin: 30px auto;
  cursor: pointer;
  border-radius: 12px;
  border: none;
  transform: translateY(0px);
  transition: transform 0.5s;
}
.login__iniciar:hover{
  transform: translateY(-3px);
  transition: transform 0.5s;
}

/*Tabla*/

.titulo__tabla{
  text-align: center;
  color: green;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 1px;
  margin-bottom: -40px;
}
.tabla{
  width: 70%;
  height: 500px;
  max-height: 600px;
  min-height: 300px;
  margin: 50px auto;
  overflow: auto;
  border: 1px solid black;
  padding:0px 7px;
}
table{
  width: 100%;
}
thead {
  height: 50px;
  background-color: rgba(10, 10, 10, 0.922);
  text-align: center;
  color: rgba(20, 80, 153, 0.086);
  font-size: 18px;
  font-weight: bold;
  color: white;
  position: sticky;
  top: 0px;
  z-index: 1;
}
tr,td{
  text-align: center;
  padding: 10px;
  border: var(--border);
  margin: 0px;
}


/*App*/
.app__bienvenida{
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  color: blue;
  text-shadow: 1px 1px 1px ;
}
.app__cantidadPersonas{
  font-size: 22px;
  font-weight: bold;
}
span{
  color:black;
  font-weight: bold;
  font-size: 19px;
  text-decoration: underline;
}
.app__inicial{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 50%;
  margin: 30px auto;
}
.app__botones{
  display: flex;
  gap: 20px;

}






