
/*Modal login*/
.modal{
    position: fixed;
    border: var(--border);
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.269);
  
    opacity: 0;
    transition:  opacity 0.8s;
    --transform:translateY(-100vh);
    pointer-events: none;
  }
  .mostrarModal{
    opacity: 1;
    --transform: translateY(-50%);
    transition-property:  opacity, transform;
    transition-duration: 0.8s;
    pointer-events: unset;
  
  }
  .modal__container{
    position: absolute;
    width: 40%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    background-color: white;
    /* height: 320px; */
    box-shadow: 1px 1px 6px 0px;
    transform: var(--transform);
    transition: transform 0.8s;
  }
  .modal__cerrar{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    padding: 5px 5px;
    border-radius: 100%;
    box-shadow: 1px 1px 6px 0px;
    cursor: pointer;
  }
  .modal__titulo{
    margin-top: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px ;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
  }
  .modal__formulario{
    height: 200px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-top: 2px solid black;
    padding-top: 5px;
  }
  .modal__label{
    font-size: 18px;
    font-weight: bold;
  }
  .modal__input{
    height: 50px;
    width: 30%;
    transition: width 0.5s;
    font-size: 18px;
    text-align: center;
    color: rgba(0, 0, 0, 0.787);
  
  }
  .modal__input:focus{
    width: 70%;
    transition: width 0.5s;
  }
  .modal__iniciarSesion{
    display: block;
    width:120px;
    margin-top: 10px;
    border: none;
    background-color: blue;
    color: white;
    padding: 10px ;
    border-radius: 10px;
    cursor: pointer;
    transform: translateY(0px);
    transition: transform 0.5s;
    box-shadow: 1px 1px 4px 0px black;
  }
  .modal__iniciarSesion:hover{
    transform: translateY(-3px);
    transition: transform 0.5s;
  }

/*Modal mensaje*/

.modal__mensaje{
    text-align: center;
    margin-top: 50px;
}

/*Modal agregar*/
.modal__botones{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  justify-content: space-between;
  width: 90%;

}
.modal__botones > .modal__btn__guardar{
  padding: 8px 26px;
  color: white;
  background-color: green;
  border-radius: 7px;
  width: 100px;
  text-align: center;
  cursor: pointer;
  transform: translateY(0);
  box-shadow: 1px 1px 5px 0px black;
  transition: transform 0.5s;
}
.modal__botones > .modal__btn__salir{
  padding: 8px 26px;
  color: white;
  width: 100px;
  text-align: center;
  background-color:red;
  border-radius: 7px;
  cursor: pointer;
  transform: translateY(0);
  box-shadow: 1px 1px 5px 0px black;
  transition: transform 0.5s;
}
.modal__botones > a:hover{
  transform: translateY(-3px);
  transition: transform 0.5s;
}
